<html lang='pt-BR'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Recuperação de senha</title>
    <style>
      .container {
        max-width: 700px;
        margin: 0 auto;
        background: #f8f8f8;
        border: 1px solid #c7c7c7;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .header {
        background: #4c9613;
        color: #ffffff;
        text-align: center;
        padding: 20px 0;
      }
      .title {
        font-size: 24px;
        margin: 0;
        line-height: 1;
      }
      .logo-cell {
        padding: 0;
        line-height: 0;
      }
      .content {
        color: #000;
        font-size: 16px;
        text-align: center;
        padding: 10px 24px;
      }
      .btn {
        display: inline-block;
        background: #4c9613;
        color: #fff !important;
        text-decoration: none;
        font-weight: bold;
        padding: 14px 32px;
        border-radius: 12px;
        margin: 10px 0;
      }
      .muted {
        color: #333;
        font-size: 14px;
      }
      .font-bold {
        font-weight: bold;
      }
      .mb-16 {
        margin-bottom: 16px;
      }
      img.logo {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        max-height: 250px;
        contain: content;
      }
    </style>
  </head>
  <body style='background-color:#ffffff; padding:10px; font-family:Arial, Helvetica, sans-serif'>
    <table class='container' width='100%' cellspacing='0' cellpadding='0' border='0' align='center'>
      <tr>
        <td align='center' class='logo-cell'>
          <img
            class='logo'
            src='https://img.freepik.com/fotos-gratis/vista-de-verde-luxuriante-floresta-tropical-em-costa-rica_23-2148248823.jpg?semt=ais_hybrid&w=740&q=80'
            alt='Logo'
          />
        </td>
      </tr>
      <tr>
        <td class='header'>
          <h1 class='title'>Redefina a sua senha</h1>
        </td>
      </tr>
      <tr>
        <td class='content'>
          <p class='mb-16 font-bold'>Prezado(a) {{name}},</p>
          <p>
            Recebemos uma solicitação para recuperar sua senha no sistema
            Pró-mata. Caso queira prosseguir, clique no botão abaixo para redefinir sua senha.
          </p>
          <p>
            <a class='btn' href='{{resetUrl}}' target='_blank' rel='noopener noreferrer'>REDEFINIR
              SENHA</a>
          </p>
          <p class='muted'>
            Este link é válido por 1 hora a partir do envio.<br />
            <strong>Se você não solicitou a recuperação, desconsidere este e-mail.</strong>
          </p>
          <p class='mb-16'>Atenciosamente,<br />Pró-mata.</p>
        </td>
      </tr>
    </table>
  </body>
</html>